<div class="card card-angles" style="margin: 10px; padding: 10px;">
    <div class="card-header" style="margin-bottom: 10px;">Rick and Morty</div>
    <div class="card-body" style="margin-bottom: 10px;">
        Explora nuestra colección única de personajes del mundo caótico e hilarante de Rick y Morty. Desde el genio loco Rick Sanchez hasta su nieto aventurero Morty Smith, nuestra página te ofrece una visión completa de los personajes que han cautivado a fanáticos en todo el mundo.
    </div>
</div>

<div class="card" style="margin: 10px; padding: 10px;">
    <div class="card-header" style="margin-bottom: 10px;">
        <ul class="nav nav-pills card-header-pills" id="cardPill" role="tablist" style="margin-bottom: 10px;">
            <li class="nav-item"><a class="nav-link active" id="overview-pill" href="#overviewPill" data-bs-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Autor </a></li>
            <li class="nav-item"><a class="nav-link" id="example-pill" href="#examplePill" data-bs-toggle="tab" role="tab" aria-controls="example" aria-selected="false">Angular 17</a></li>
            
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="cardPillContent">
            <div class="tab-pane fade show active" id="overviewPill" role="tabpanel" aria-labelledby="overview-pill">
                <h5 class="card-title">Creador: </h5><p>PetusoTwo</p>
                <p class="card-text">
                    GitHub:
                    Visita mi perfil en github - PetusoTwo<br>
                    
                    Allí encontrarás una variedad de proyectos y contribuciones que reflejan la habilidad y mi compromiso con el desarrollo de software. No dudes en explorar y seguir mi trabajo para estar al tanto de las últimas actualizaciones y desarrollos.</p>
            </div>
            <div class="tab-pane fade" id="examplePill" role="tabpanel" aria-labelledby="example-pill">
                <h5 class="card-title">Mi primera App con Angular</h5>
                <p class="card-text">Esta es mi primera aplicación desarrollada utilizando Angular y Bootstrap. La aplicación muestra una interfaz moderna y responsive gracias a Bootstrap, mientras que Angular proporciona una estructura robusta y dinámica para la funcionalidad. El proyecto ha sido una excelente oportunidad para explorar mis capacidades de Angular.            </div>
        </div>
    </div>
</div>
<div class="card" style="margin: 10px; padding: 10px;">
    <div class="card-body">
        <div class="small text-muted mb-2">Contribuidores:</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex align-items-center">
                    <div class="avatar" style="width: 60px; height: 60px; overflow: hidden; border-radius: 50%; margin: 10px">
                        <img class="avatar-img img-fluid" src="assets/img/poco.jpg" alt="Ruso" style="width: 100%; height: 100%; object-fit: cover;"/>
                    </div>
                    <div class="ms-3">
                        <div class="fs-4 text-dark fw-500">Ruso</div>
                        <div class="small text-muted">Administrador</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center">
                    <div class="avatar" style="width: 60px; height: 60px; overflow: hidden; border-radius: 50%; margin: 10px">
                        <img class="avatar-img img-fluid" src="assets/img/perrito.jpg" alt="PetusoTwo" style="width: 100%; height: 100%; object-fit: cover;"/>
                    </div>
                    <div class="ms-3">
                        <div class="fs-4 text-dark fw-500">PetusoTwo</div>
                        <div class="small text-muted">Creador</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
